[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn
x509_extensions = v3_ca

[dn]
CN = kubernetes

[v3_ca]
subjectAltName = @alt_names
keyUsage = critical,digitalSignature,keyEncipherment,keyCertSign
basicConstraints = critical,CA:TRUE

[alt_names]
DNS.1 = cluster1.navlab.io
DNS.2 = navlab.io